In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("iris_original.csv")

In [ ]:
df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,growth of plant
0,5.1,3.5,1.4,0.2,setosa,NaN
1,4.9,3.0,1.4,0.2,setosa,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN
4,5.0,3.6,NaN,0.2,setosa,NaN

In [ ]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species', 'growth of plant'],
      dtype='object')

In [ ]:
df.rename(columns = {"sepal length(cm)":"sepal_len"},inplace=True)

In [ ]:
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,growth of plant
0,5.1,3.5,1.4,0.2,setosa,NaN
1,4.9,3.0,1.4,0.2,setosa,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN
4,5.0,3.6,NaN,0.2,setosa,NaN
5,NaN,3.9,1.7,0.4,setosa,NaN
6,4.6,3.4,1.4,0.3,setosa,NaN
7,5.0,3.4,1.5,0.2,setosa,NaN
8,4.4,2.9,1.4,0.2,setosa,NaN
9,4.9,3.1,1.5,0.1,setosa,NaN

In [ ]:
df.rename(columns = {"sepal length (cm)":"sepal_len"},inplace=True)

In [ ]:
df.head(5)

,sepal_len,sepal width (cm),petal length (cm),petal width (cm),species,growth of plant
0,5.1,3.5,1.4,0.2,setosa,NaN
1,4.9,3.0,1.4,0.2,setosa,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN
4,5.0,3.6,NaN,0.2,setosa,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal_len          148 non-null    float64
 1   sepal width (cm)   146 non-null    float64
 2   petal length (cm)  144 non-null    float64
 3   petal width (cm)   147 non-null    float64
 4   species            147 non-null    object
 5   growth of plant    0 non-null      float64
dtypes: float64(5), object(1)
memory usage: 7.2+ KB

In [ ]:
df.describe()

,sepal_len,sepal width (cm),petal length (cm),petal width (cm),growth of plant
count,148.000000,146.000000,144.000000,147.000000,0.0
mean,5.839865,3.056849,3.833333,1.220408,NaN
std,0.829125,0.441613,1.743720,0.755341,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.400000,1.300000,NaN
75%,6.400000,3.375000,5.100000,1.800000,NaN
max,7.900000,4.400000,6.900000,2.500000,NaN

In [ ]:
df.shape

(150, 6)

In [ ]:
df.isnull().sum()

sepal_len              2
sepal width (cm)       4
petal length (cm)      6
petal width (cm)       3
species                3
growth of plant      150
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(1)

In [ ]:
df['petal length (cm)'] = df['petal length (cm)'].fillna(df['petal length (cm)'].mean())

In [ ]:
df.head(50)

,sepal_len,sepal width (cm),petal length (cm),petal width (cm),species,growth of plant
0,5.1,3.5,1.400000,0.2,setosa,NaN
1,4.9,3.0,1.400000,0.2,setosa,NaN
2,4.7,3.2,1.300000,0.2,setosa,NaN
3,4.6,3.1,1.500000,0.2,setosa,NaN
4,5.0,3.6,3.833333,0.2,setosa,NaN
5,NaN,3.9,1.700000,0.4,setosa,NaN
6,4.6,3.4,1.400000,0.3,setosa,NaN
7,5.0,3.4,1.500000,0.2,setosa,NaN
8,4.4,2.9,1.400000,0.2,setosa,NaN
9,4.9,3.1,1.500000,0.1,setosa,NaN
10,5.4,3.7,1.500000,0.2,setosa,NaN
11,4.8,3.4,1.600000,0.2,setosa,NaN
12,4.8,3.0,3.833333,NaN,setosa,NaN
13,4.3,NaN,1.100000,0.1,setosa,NaN
14,5.8,4.0,1.200000,NaN,setosa,NaN
15,5.7,4.4,1.500000,0.4,setosa,NaN
16,5.4,3.9,3.833333,0.4,setosa,NaN
17,5.1,3.5,1.400000,0.3,setosa,NaN
18,5.7,3.8,1.700000,0.3,setosa,NaN
19,5.1,3.8,1.500000,0.3,setosa,NaN
20,5.4,3.4,1.700000,0.2,setosa,NaN
21,5.1,3.7,1.500000,0.4,setosa,NaN
22,4.6,3.6,1.000000,0.2,setosa,NaN
23,5.1,3.3,1.700000,0.5,setosa,NaN
24,4.8,3.4,1.900000,0.2,setosa,NaN
25,5.0,3.0,1.600000,0.2,setosa,NaN
26,5.0,3.4,1.600000,0.4,setosa,NaN
27,5.2,3.5,1.500000,0.2,setosa,NaN
28,5.2,3.4,1.400000,0.2,setosa,NaN
29,4.7,NaN,1.600000,0.2,setosa,NaN
30,4.8,3.1,1.600000,0.2,setosa,NaN
31,5.4,3.4,1.500000,0.4,setosa,NaN
32,5.2,4.1,3.833333,0.1,setosa,NaN
33,5.5,4.2,1.400000,NaN,setosa,NaN
34,4.9,NaN,1.500000,0.2,setosa,NaN
35,5.0,3.2,1.200000,0.2,setosa,NaN
36,5.5,3.5,1.300000,0.2,setosa,NaN
37,4.9,3.6,3.833333,0.1,setosa,NaN
38,4.4,NaN,1.300000,0.2,setosa,NaN
39,5.1,3.4,1.500000,0.2,setosa,NaN
40,5.0,3.5,1.300000,0.3,setosa,NaN
41,4.5,2.3,1.300000,0.3,NaN,NaN
42,4.4,3.2,1.300000,0.2,setosa,NaN
43,5.0,3.5,1.600000,0.6,setosa,NaN
44,5.1,3.8,1.900000,0.4,setosa,NaN
45,4.8,3.0,1.400000,0.3,setosa,NaN
46,5.1,3.8,1.600000,0.2,setosa,NaN
47,4.6,3.2,1.400000,0.2,setosa,NaN
48,5.3,3.7,1.500000,0.2,setosa,NaN
49,5.0,3.3,1.400000,0.2,setosa,NaN

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
df.dropna(axis=1, how='all', inplace=True)

In [ ]:
df.head(10)

   sepal_len  sepal width (cm)  petal length (cm)  petal width (cm) species
0        5.1               3.5           1.400000               0.2  setosa
1        4.9               3.0           1.400000               0.2  setosa
2        4.7               3.2           1.300000               0.2  setosa
3        4.6               3.1           1.500000               0.2  setosa
4        5.0               3.6           3.833333               0.2  setosa
5        NaN               3.9           1.700000               0.4  setosa
6        4.6               3.4           1.400000               0.3  setosa
7        5.0               3.4           1.500000               0.2  setosa
8        4.4               2.9           1.400000               0.2  setosa
9        4.9               3.1           1.500000               0.1  setosa

In [ ]:
df.to_csv('cleaned_file.csv', index=False)

In [ ]:
df['sepal_len'] = df['sepal_len'].fillna(df['sepal_len'].mode()[0])

In [ ]:
df['sepal_len'] = df['sepal_len'].fillna(df['sepal_len'].mode()[0])

In [ ]:
df['sepal width (cm)'] = df['sepal width (cm)'].fillna(df['sepal width (cm)'].mode()[0])

In [ ]:
df['petal width (cm)'] = df['petal width (cm)'].fillna(df['petal width (cm)'].mode()[0])

In [ ]:
df.to_csv('cleaned_file.csv', index=False)

In [ ]:

df['species'] = df['species'].fillna('Unknown')

In [ ]:
df.to_csv('cleaned_file.csv', index=False)

In [ ]:
df.head()

   sepal_len  sepal width (cm)  petal length (cm)  petal width (cm) species
0        5.1               3.5           1.400000               0.2  setosa
1        4.9               3.0           1.400000               0.2  setosa
2        4.7               3.2           1.300000               0.2  setosa
3        4.6               3.1           1.500000               0.2  setosa
4        5.0               3.6           3.833333               0.2  setosa